<!doctype html>
<html lang="en">

<head>
	<title>ESP8266 Dashboard</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<link rel="shortcut icon" href="./favicon.svg">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	 crossorigin="anonymous">
	<style>
		/*
		 Primary Orange E8400C
		 Secondary Orange FF3C00
		 Primary Blue 1437CC
		 Secondary Blue 0929B2
     */
	</style>
</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-dark" style="background:#E8400C">
		<span class="container">
			<a class="navbar-brand" href="#">
				<img src="./favicon-inverted.svg" width="30" height="30" alt="">
				<span class="navbar-brand mb-0 h2">ESP8266 Dashboard</span>
			</a>
		</span>
	</nav>

	<main id="app" class="container">
		<!-- TODO: Drop this somewhere else -->
		<button type="button" data-toggle="modal" class="btn btn-primary" data-target="#newAppModal">Create new app</button>
		<!-- Loop over apps -->
		<div v-for="app in apps">
			<h1>{{ app.Name }}</h1>
			<h3 class="card-subtitle mb-2 text-muted">{{ app.Sketches.length }} sketches, active is {{ app.ActiveSketch }}</h3>

			<!-- TODO: Uploader -->
			<form class="form-inline" action="/admin/apps/add-sketch">
				<span class="col-1">Sketch</span>
				<select class="custom-select col-4" v-model="app._selectedSketch">
					<option v-bind:value="s.Name" v-for="s in app.Sketches">{{ s.Name }} ({{ s.Size }}B / {{s.ModTime}})</option>
					<option value="_new_file_upload_">Upload new image</option>
				</select>
				<input id="sketchFilePicker" type="file" style="display:none" v-on:change="onFileChange(app, $event)" />
				<div class="col-2">
					<button type="button" class="btn btn-primary" v-on:click="pushNewApp(app)" v-bind:disabled="app.ActiveSketch === app._selectedSketch">Save changes</button>
				</div>
			</form>
			</p>

			<table class="table">
				<tr v-for="device in devices" v-if="device.AppName == app.Name">
					<td>{{ device.Name }}</td>
					<td>{{ device.AppName }}</td>
					<!--
					<td v-for="value, key in device.Info">
						<b>{{ key }}</b> {{value}}
					</td>
				-->
					<td>
						<form class="form-inline">
							<select class="custom-select form-control" v-model="device.AppName">
								<option v-bind:value="a.Name" v-for="a in apps">{{ a.Name }}</option>
							</select>
							<button type="button" class="btn btn-primary" v-on:click="deviceSetApp(device)" v-bind:disabled="false">Save changes</button>
						</form>
					</td>
				</tr>
			</table>

		</div>

		<!-- Modal -->
		<div class="modal fade" id="newAppModal" tabindex="-1" role="dialog" aria-labelledby="newAppModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">New sketch</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<!-- TODO -->
						<form>
							<div class="form-group">
								<input type="text" v-model="newAppName" />
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="newApp(newAppName)">Create app</button>
					</div>
				</div>
			</div>
		</div>


	</main>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://unpkg.com/vue@2.5.3/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	 crossorigin="anonymous"></script>

	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				//message: 'You loaded this page on ' + new Date().toLocaleString(),
				devices: [],
				apps: [],
				newAppName: ""
			},
			methods: {
				onFileChange(app, e) {
					var that = this;
					var reader = new FileReader();
					reader.addEventListener("loadend", function () {
						// reader.result contains the contents of blob as a typed array
						that.$http.post('/admin/apps/add-sketch', {
							Name: app.Name,
							Sketches: [{
								Data: reader.result.split(';base64,')[1],
								Name: files[0].name
							}]
						})
					});
					var files = e.target.files || e.dataTransfer.files;
					if (!files.length) {
						return;
					}
					reader.readAsDataURL(files[0]);
				},
				// Pick a new active sketch for `app`
				pushNewApp: function pushNewApp(app) {
					// Click a hidden file-input if we're asked to upload a new file
					if (app._selectedSketch === "_new_file_upload_") {
						$('#sketchFilePicker').click();
						return;
					}

					this.$http.post('/admin/apps/set-sketch', {
						Name: app.Name,
						ActiveSketch: app._selectedSketch
					}).then(function ok() {
						app.ActiveSketch = app._selectedSketch;
					}, function err(err) {
						alert(err);
					});
				},

				// Create a new app
				newApp: function newApp(name) {
					this.$http.post('/admin/apps/new', {
						Name: name
					})
					// TODO(mortens): reload
				},

				deviceSetApp: function deviceSetApp(device) {
					this.$http.post('/admin/device/set-app', device)
				}

			},
			// Hook when app starts up
			created: function () {
				// TODO: Reqwrite this as a function we can call to reload	
				this.$http.get('/admin/devices').then(response => {
					this.devices = response.body;
				});

				this.$http.get('/admin/apps').then(response => {
					this.apps = response.body.map((app) => {
						// Shadow some properties for change-tracking
						app._selectedSketch = app.ActiveSketch;
						return app;
					});
				});
			}
		});
	</script>

</body>

</html>